:root {
    --branding-color: #6c63ff;
    --secondary-color: #ecebf8;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
}

/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
body {
    font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: var(--heading-font-family)
    
}

h1 {
    font-weight: 96px;
    line-height: 1.5;
}

h2 {
    font-size: 64px;
}

p {
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.hero h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline {
    background: white;
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.project-description {
    padding: 120px 60px;
}


.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }
  
  .navigation-links a {
    text-align: right;
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
  }
  
  .about-paragraphs {
    display: flex;
    margin: 30px 0;
  }
  
  .about-paragraphs p {
    margin: 10px;
  }
  
  .email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }
  img {
    width: 100%;
    height: auto;
  }
  
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }
  .row {
    padding: 50px;
  }
  
  footer {
    font-family: var(--default-font-family);
    text-align: center;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer a{
    text-decoration: none;
    color: black;
}

@media (max-width: 900px) {

    h1 {
        font-size: 44px;
        line-height: 1.5;
    }

    h2 {
        font-size: 44px;
    }

    .hero {
        padding: 80px 20px;
    }
    .project-description {
        padding: 0;
        text-align: center;
    }

}

